.badge {
	display: inline;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	border-radius: 2px;
	max-height: 24px;
}

.primary {
	background-color: #1890ff;
}

.secondary {
	background-color: #bfbfbf;
}

.success {
	background-color: #52c41a;
}

.danger {
	background-color: #f5222d;
}
