.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 100;
}

@media (min-width: 480px) {
    .navbar {
        padding: 0 10px;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 0 25px;
    }
}

.navbarLink {
    text-decoration: none;
    color: #bfbfbf;
    font-size: 1.5rem;
    margin: 10px;
    transition: .3s ease-in;
}
.navbarLink:hover {
    color: #fff;
}